@font-face {
    font-family: "Sairasemicondensed";
    src: url(../fonts/SairaSemiCondensed/SairaSemiCondensed-Bold.ttf); 
}

header {
    background-color: #7A778C;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap; 
    padding: 0px 0; 
  }
  
  img[alt="Logo"] {
    padding-right: 3%;
  }

  nav {
    margin-left: 20px;
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
  }

nav li {
    display: block;
    margin-bottom: 10px;
    flex: 1;
    margin-right: 10em       
}

nav ul {
    display: flex;
    flex-wrap: wrap; 
    margin: 0;
    padding: 0;
  }
  
  nav a {
    font-family: "sairasemicondensed", "Helvetica", Arial, sans-serif;
    font-size: 150%;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  }

  .unactive:hover {
    text-decoration: underline;
  }

  .active {
    color: #1D2540;
    text-decoration: none;
  }

  body {
    background-color: #1D2540;
  }

 footer {

  }

  @media screen and (max-width: 1000px) {
    nav li {
      margin-right: 1em;
    }
  }
 
